{
  "presets": [
    "es2015",
    "stage-3",
    ["env", { "modules": false }]
  ],
  "env": {
    "test": {
    "presets": [
            ["env", { "targets": { "node": "current" }}]
        ]
    }
  }
}
