@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import './variables';

body {
    padding: 0; margin: 0;
    font-size: 22px;
    font-family: Roboto, sans-serif;
}
.company-page {
    background-color: #E7E9F3;
}
.company-data {
    background-color: #FFF;
    &.footer-bg {
        background-color: #F3F3f3;
    }
}

header {
    background-color: $nav;
    height: $navHeight;
    width: 100%;
    color: #FFF;
    display: flex;
    img {
        vertical-align: middle;
    }
    svg {
        cursor: pointer;
        color: lighten($color: $nav, $amount: 20);
    }
    ul {
        width: 100vw;
        padding: 0 20px;
        display: inline-flex;
        align-items: center;
        list-style: none;
        li {
            font-size: 0.8rem;
            &:first-child {
                flex: 1;
            }
            &:nth-child(2) {
                flex: 10;
                display: inline-flex;
                align-items: center;
            }
            &:last-child {
                flex: 2;
                text-align: right;
            }
            input[type="text"] {
                height: calc(#{$navHeight} - 35px);
                border-radius: 3px;
                padding: 5px 10px;
                color: #FFF;
                border: 0;
                background-color: darken($color: $nav, $amount: 20);
            }
            .nav-list {
                margin: 0 20px;
                cursor: pointer;
                height: calc(#{$navHeight} - 35px);
                width: auto;
                border-radius: 3px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                transition: all 300ms;
                &:hover {
                    background-color: lighten($color: $nav, $amount: 20);
                    svg {
                        color: $nav;
                    }
                }
                svg {
                    margin-left: 5px;
                }
            }
        }
    }
}
footer {
    position: fixed;
    bottom: 0;
    font-size: 0.75rem;
    height: 120px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    div.footer-content {
        margin: 0 auto;
        width: 70%;
        .row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            ul {
                padding: 0;
                list-style: none;
                li {
                    cursor: pointer;
                    color: $navLight;
                    display: inline-flex;
                    &:not(:last-child)::after {
                        content: '|';
                        margin: 0 8px;
                    }
                }
            }
            &:last-child {
                color: #999;
            }
            img:not(:last-child) {
                margin-right: 13px;
            }
        }
    }
}
